body {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto-Regular', sans-serif;
	background-color: #e8e8e8;
	position: relative;
	min-height: 100vh;
	height: auto;
}

input {
	font-family: 'Roboto', sans-serif !important;
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-ms-border-radius: 0px !important;
	-o-border-radius: 0px !important;
}

.ui.segment {
	box-shadow: none !important;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
}

.App {
	padding: 40px;
}

.header {
	display: grid;
	grid-template-columns: 1fr auto auto;
	align-items: center;
}

.digitise-panel-content {
	padding: 30px !important;
}

.digitise-panel-content .digitise-panel {
	width: 100%;
	height: 500px;
	box-shadow: 0.5px 0.5px 2px black;
}

.main-content {
	padding: 30px !important;
}

/* MAIN CONTENT HEADER */
.main-content__header-container {
	display: grid;
	grid-gap: 20px;
	margin-bottom: 20px;
}

.main-content__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-content__header .section-content {
	display: flex;
	align-items: center;
}

.main-content__header .section-content button {
	margin-right: 20px;
	padding: 0 20px;
	height: 40px;
	width: auto;
}

.main-content__header .section-content .ui.fluid.input {
	width: 200px;
	margin-right: 10px;
}

.main-content__header .section-content:last-child button {
	margin-right: 0;
}

.main-content__header .section-content:last-child span {
	margin-right: 10px;
}

/* SHELL FORM */
.main-content__form-container {
	background-color: whitesmoke;
	padding: 30px;
	margin: 0;
}

.main-content__form-container .form-content {
	display: grid;
	grid-template-columns: 1fr minmax(250px, 30%);
	padding-bottom: 25px;
}

.main-content__form-container .form-content .form-content__row {
	display: flex;
	flex-wrap: wrap;
}

.main-content__form-container .form-content .form-content__row.title {
	height: 40px;
	align-items: center;
	margin-bottom: 20px;
}

.main-content__form-container .form-content .form-content__row .input-container {
	width: 180px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.main-content__form-container .form-content .form-content__row .input-container h5 {
	font-weight: 400;
	margin-bottom: 5px;
}

.main-content__form-container .form-content .form-content__row .input-container.coordinates {
	width: 380px;
	margin-right: 0;
}

.main-content__form-container
	.form-content
	.form-content__row
	.input-container.coordinates
	.input-wrapper {
	display: inline-block;
}

.main-content__form-container
	.form-content
	.form-content__row
	.input-container.coordinates
	.input-wrapper
	.ui.input
	input {
	width: 180px;
	margin-right: 10px;
}

.main-content__form-container .form-content .form-content__col:last-child {
	border-left: 1px solid #d6d6d6;
	padding-left: 40px;
}

.main-content__form-container .form-content .sensor-status__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.main-content__form-container .form-content .sensor-status__title h4 {
	margin: 0;
}

.main-content__form-container .form-content .sensor-status__title button {
	width: 100px;
	height: 40px;
}

.main-content__form-container .form-content .sensor-status__content {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-content__form-container .form-content .sensor-status__content li {
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
}

.main-content__form-container .form-content .sensor-status__content li h5 {
	font-weight: 400;
	margin: 0;
}

.main-content__form-container .button-container {
	display: flex;
	justify-content: flex-end;
	padding-top: 25px;
	border-top: 1px solid #d6d6d6;
}

.main-content__form-container .button-container button {
	width: 100px;
	height: 40px;
	margin-left: 10px;
}

/* TABLE  */
.main-content__table {
	margin-top: 20px;
}

.main-content__table table .button {
	width: 420px;
	text-align: right;
}

.main-content__table table .button button {
	margin-left: 10px;
	height: 40px;
	text-align: center;
	padding: 0 20px;
	width: auto;
}

.main-content__table table .button .delete-button {
	color: red !important;
	width: 100px;
}

.main-content__table table .button .delete-button:hover {
	color: rgb(161, 53, 53) !important;
}
